
  <table style="width:95%">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <%- @sponsors.each do |sponsor| -%>
      <tr>
        <td><%= sponsor.name %></td>
        <td><%= sponsor.email %></td>
        <td><%= sponsor.phone %></td>

      </tr>
    <%- end -%>
  </table>
