
<div class="row">
  <div class="col-md-6 col-md-offset-1">

<p>
  <strong>Name:</strong>
  <%= @application_contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application_contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application_contact.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application_contact.description %>
</p>
 </div>
</div>
