<div class="row">
  <div class="col-md-6 col-md-offset-3">

<h1 class="text-center">Create New Sponsor</h1>
<%= render 'form', application_sponsor: @application_sponsor %>

<%= link_to 'Back', application_sponsors_path %>
  </div>
</div>
