<body>
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <form action="mailto:tamuj4w@gmail.com" method="post" enctype="text/plain">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Telephone</label>
                            <input type="tel" class="form-control" id="phone" placeholder="+1(555)555-5555">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
            <!-- <div class="row">
                <div class="center-pic col-md-6 text-center">
                    <img src="https://static.wixstatic.com/media/0a0fda_a0c42d9852b448d7bc881d33ac20b86f.jpg/v1/fill/w_260,h_260,al_c,q_80,usm_0.66_1.00_0.01/0a0fda_a0c42d9852b448d7bc881d33ac20b86f.webp" class="img-circle img-responsive">
                </div>
                <div class="col-md-6">
                    <h1 class="text-primary">Contact</h1>
                    <h3>Empowered by Just for Water</h3>
                    <p>
                      Texas A&M University, 401 Joe Routt Blvd College Station, TX 77843 <br>
                      E-mail: tamuj4w@gmail.com
                    </p>
                </div>
            </div> -->
        </div>
        <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">The Story</h1>
                        <h3>Just more than water</h3>
                        <p>Just 4 Water grew from the aspirations of two Texas A&amp;M college students, Guillermo Gomez-Salas and Mark Membreño, who had a passion for helping developing countries reduce the issue of water scarcity. With the support of other
                            college students and professors, J4W was founded in January 2014 and built their first water well in Paso Real, Nicaragua on March 20, 2014.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://static.wixstatic.com/media/0a0fda_aa32e735ecc3496c87dc7320701ef8b5.jpg/v1/fill/w_260,h_260,al_c,q_80,usm_0.66_1.00_0.01/0a0fda_aa32e735ecc3496c87dc7320701ef8b5.webp" class="img-circle img-responsive">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Team</h1>
                        <p class="text-center">We are a group of skilled individuals.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</body>
