<body>
    <div class="cover">
        <div class="background-image-fixed cover-image" style="background-image : url('https://static1.squarespace.com/static/537c2acae4b0fd55b0cc4ffe/t/5510aa68e4b0dd8c456bbb19/1427155561002/gorgeous-water-map-wallpaper.jpg?format=1500w')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-muted">Just 4 Water</h1>
                    <p>J4W is dedicated to a global service providing self-sustainable and economical water solutions for developing nations.</p>
                    <br>
                    <br>
                    <a class="btn btn-lg btn-primary" id="btn-discovermore" style="color:white;background-color:#42b0f4;" href="/discover/">Discover More</a>
                    <a class="btn btn-lg btn-primary" id="btn-projects" style="color:white;background-color:#42b0f4" href="/projects/">Projects</a>
                    <a class="btn btn-lg btn-primary" id="btn-contact" style="color:white;background-color:#42b0f4" href="/application_contacts/new/">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="https://static.wixstatic.com/media/0a0fda_a0c42d9852b448d7bc881d33ac20b86f.jpg/v1/fill/w_260,h_260,al_c,q_80,usm_0.66_1.00_0.01/0a0fda_a0c42d9852b448d7bc881d33ac20b86f.webp" class="img-circle">
                </div>
                <div class="col-md-6">
                    <h1 class="text-primary">What We Do</h1>
                    <h3>Empowered by Just 4 Water</h3>
                    <p>Just 4 Water is dedicated to a global service providing self-sustainable and economical water solutions for developing nations. In order to fulfill our mission, we partner with local non-government community organizations and provide
                        them the method and tools they need in order to secure access to clean water. The communities we help are often in remote areas with little or no access to clean drinking water. The local organizations continue to monitor and repeat
                        additional projects in the area throughout the year with the ongoing support of J4W. This ensures that more people will be helped and that each project is successful and sustainable for years to come.
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="text-primary">The Story</h1>
                    <h3>Just more than water</h3>
                    <p>Just 4 Water grew from the aspirations of two Texas A&amp;M college students, Guillermo Gomez-Salas and Mark Membreño, who had a passion for helping developing countries reduce the issue of water scarcity. With the support of other
                        college students and professors, J4W was founded in January 2014 and built their first water well in Paso Real, Nicaragua on March 20, 2014.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="https://static.wixstatic.com/media/0a0fda_aa32e735ecc3496c87dc7320701ef8b5.jpg/v1/fill/w_260,h_260,al_c,q_80,usm_0.66_1.00_0.01/0a0fda_aa32e735ecc3496c87dc7320701ef8b5.webp" class="img-circle">
                </div>
            </div>
        </div>
    </div>
</body>
