<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Subscribe</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <span class="input-group-btn">
                    <a class="btn btn-success" type="submit">Go</a>
                  </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <% ApplicationSponsor.all.each do |application_sponsor| %>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="<%=application_sponsor.icon.url%>" height="200" width="200" align="right" class="img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="col-sm-6">
                        <%=application_sponsor.description%>
                    </div>
                </div>
                <% end %>
        </div>
    </div>

    <div class="section">
        <!-- <div class="container">
            <h2>Organizations</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://doublethedonation.blob.core.windows.net/images/iX90qc3MSiWSjXxErPOP_TAFS_Standardlogo_Stacked.jpg" class="img-thumbnail">
                    <p class="text-center">The Association of Former Students&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <img src="http://static1.squarespace.com/static/552ce8d7e4b0bc16ddc08ff0/t/552ce9e8e4b08fa7d30c3d2d/1476483072534/?format=1500w" class="img-thumbnail">
                    <p class="text-center">South Texas Oil&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <img src="https://pbs.twimg.com/profile_images/1573294492/payasito_logo.jpg" class="img-thumbnail">
                    <p class="text-center">Raspas El Payasito&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-thumbnail">
                    <p class="text-center">Bryan Rotary Club</p>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
                    <p class="text-center">Santa Teresa Catholic Church</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">LaGrange Methodist Church</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Hookah Station&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center" contenteditable="true">Luigi's Patio Ristorante&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Parkway Place Apartments</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Timothy Chinn</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Fuego Tortilla Grill</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">C.C. Creations</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
                    <p class="text-center">What's the Buzz Coffee Co.</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Tractor Supply Co.</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">Ford</p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    <p class="text-center">The Barn at College Station</p>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="section">
      <div class="container">
        <h2>People</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center">Zermeno Family</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center">Victor Aguilar</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center">Walter Hinkle</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center" contenteditable="true">Charley Gilliland</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center" contenteditable="true">Rodrigo Chavez</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            <p class="text-center">Scott Pool</p>
          </div>
        </div>
      </div>
    </div>
   -->

</body>

</html>
