<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-4">
                    <div class="foot-header">
                        <%= image_tag("/img/logo.png", :class => "img-circle img-responsive") %>

                            <h1>Just 4 Water</h1>
                            <p>Texas A&amp;M University, 401 Joe Routt Blvd College Station, TX 77843
                                <br>Copyright © 2017 Just for Water. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">
                        <!-- SnapWidget https://snapwidget.com/widgets/create?plan=free&service=instagram&type=grid-->
                        <iframe src="https://snapwidget.com/embed/372939" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:400px; height:240px"></iframe> </div>
                </div>
                <div class="col-sm-4">
                    <div class="foot-header">
                        <div class="text-right align-bottom">
                            <p>Become part of the Just 4 Water community</p>
                            <a id="footer-instagram" href="https://www.instagram.com/just_4_water/"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a id="footer-twitter" href="https://twitter.com/Just4watertamu"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a id="footer-facebook" href="https://www.facebook.com/just4water"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>

        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a id="footer-instagram" href="https://www.instagram.com/just_4_water/"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a id="footer-twitter" href="https://twitter.com/Just4watertamu"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a id="footer-facebook" href="https://www.facebook.com/just4water"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <!-- <a id="" href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a> -->
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</footer>

</html>
